---
import { getStaticPaths } from "../../../paramHelper";
export { getStaticPaths };

export const prerender = true;

import Footer from "../../../components/Footer.astro";
import Header from "../../../components/Header.astro";
import Heading from "../../../components/Heading.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";
// 06.08.2023 | disable assets for now
// import mobileImage from "~/assets/mobile.webp";
// import { Image } from "astro:assets";
import { Button } from "../../../components/Button/Button";
import HookSection from "../../../components/HookSection.astro";
import { useTranslations } from "../../../i18n";
import { MetaBuilder } from "../../../meta";

const { language } = Astro.params;
const currentLanguage = language === "de" ? "de" : "en";
const t = useTranslations(currentLanguage);

const metaBuilder = new MetaBuilder();
metaBuilder.title(t("webDesign.meta.title") as string);
metaBuilder.description(
  t("webDesign.meta.description") as string,
  t("webDesign.meta.description") as string,
  t("webDesign.meta.openGraphDescription") as string,
  t("webDesign.meta.twitterDescription") as string
);
metaBuilder.keywords(t("webDesign.meta.keywords") as unknown as string[]);
const meta = metaBuilder.create();
---

<style lang="scss">
  @use "src/scss/typography";
  @use "src/scss/colors";

  article {
    margin: 0 6rem;
    @media screen and (max-width: 768px) {
      margin: 0 3rem;
    }
  }

  h2 {
    margin-top: 0;
  }

  #web-design {
    padding: 1rem 6rem;

    @media screen and (max-width: 768px) {
      padding: 1rem 3rem;
    }

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12rem;

    & > div {
      flex: 1 1 0;
    }

    .web-design-image {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 50%;
      height: auto;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 0;
      .web-design-image {
        display: none;
      }
    }
  }

  .platform-adversiting {
    margin-top: 0.4rem;
    font-size: typography.$font-size-xs;
  }
  a,
  a:link {
    color: colors.$foreground;
  }
</style>
<BaseLayout {meta}>
  <main>
    <Header />
    <article>
      <Heading headingType="h1">
        <div slot="description">
          {t("webDesign.content.titleDescription")}
        </div>
        {t("webDesign.content.title")}
      </Heading>
      <section id="web-design">
        {
          /*<Image
          class="web-design-image"
          height="480"
          src={mobileImage}
          alt="Mobile phone"
        />
        */
        }
        <img
          class="web-design-image"
          src="/mobile.webp"
          height="480"
          width="350"
          loading="eager"
          decoding="async"
        />
        <div>
          <h2>{t("webDesign.content.headline")}</h2>
          <div>
            <p>
              {t("webDesign.content.description")}
            </p>
          </div>
          <div>
            <a
              href="https://outlook.office365.com/owa/calendar/BookingCall@lindnerit.io/bookings/"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <Button variant="secondary">
                {t("webDesign.content.button") as string}
              </Button>
            </a>
          </div>
          <div class="platform-adversiting">
            <a
              href="https://www.designrush.com/agency/profile/lindner-it"
              target="_blank"
              rel="sponsored">{t("webDesign.designrush") as string}</a
            >
          </div>
        </div>
      </section>
      <section id="hook">
        <HookSection />
      </section>
    </article>
    <Footer />
  </main>
</BaseLayout>
