@use "src/scss/typography";
@use "src/scss/colors";

.lindner-button {
  color: white;
  transition: all 430ms;
  font-family: typography.$font-family;
  font-size: typography.$font-size-m;
  border-radius: 18px;
  border-style: solid;
  border-width: 1px;
  padding: 8px 24px;
  cursor: pointer;

  &-primary {
    background-color: colors.$primary-500;
    border-color: colors.$primary-500;
    &:hover {
      background-color: colors.$primary-400;
      border-color: colors.$primary-400;
    }
  }

  &-light {
    background-color: white;
    border-color: white;
    color: black;
    &:hover {
      background-color: gainsboro;
      border-color: gainsboro;
      color: black;
    }
  }

  &-primary-outline {
    background-color: white;
    border-color: colors.$primary-500;
    color: black;
    &:hover {
      background-color: white;
      border-color: colors.$primary-400;
    }
  }

  &-secondary {
    background-color: colors.$secondary-500;
    border-color: colors.$secondary-500;
    color: black;
    &:hover {
      background-color: colors.$secondary-400;
      border-color: colors.$secondary-400;
    }
  }

  &-secondary-outline {
    background-color: white;
    border-color: colors.$secondary-500;
    color: black;
    &:hover {
      background-color: white;
      border-color: colors.$secondary-400;
    }
  }

  &-tertiary {
    background-color: colors.$tertiary-500;
    border-color: colors.$tertiary-500;
    &:hover {
      background-color: colors.$tertiary-400;
      border-color: colors.$tertiary-400;
    }
  }
  &-tertiary-outline {
    background-color: white;
    border-color: colors.$tertiary-500;
    color: black;
    &:hover {
      background-color: white;
      border-color: colors.$tertiary-400;
    }
  }
}
