.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-color: #d9d9d9;
  background-color: #d9d9d9;
  border-width: 3px;
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;
  padding: 12pt;

  &__recommended {
    border-color: #0093e7;
  }

  .plan__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

    .plan__title {
      font-size: 2.5rem;
      font-weight: 700;
    }

    .plan__subtitle {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }

  .plan__features {
    display: flex;
    flex-direction: column;
  }
}
