---
import Footer from "../../../components/Footer.astro";
import Header from "../../../components/Header.astro";
import Heading from "../../../components/Heading.astro";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import HookSection from "../../../components/HookSection.astro";
import { useTranslations } from "../../../i18n";
import { MetaBuilder } from "../../../meta";

const { language } = Astro.params;
const currentLanguage = language === "de" ? "de" : "en";
const t = useTranslations(currentLanguage);

const metaBuilder = new MetaBuilder();
metaBuilder.title(t("webDesign.meta.title") as string);
metaBuilder.description(
  t("webDesign.meta.description") as string,
  t("webDesign.meta.description") as string,
  t("webDesign.meta.openGraphDescription") as string,
  t("webDesign.meta.twitterDescription") as string
);
metaBuilder.keywords(t("webDesign.meta.keywords") as unknown as string[]);
const meta = metaBuilder.create();
---

<style lang="scss">
  @use "src/scss/typography";
  @use "src/scss/colors";

  article {
    margin: 0 6rem;

    @media screen and (max-width: 768px) {
      margin: 0 3rem;
    }
  }

  h2 {
    margin-top: 0;
  }

  #msp {
    padding: 1rem 6rem;

    @media screen and (max-width: 768px) {
      padding: 1rem 3rem;
    }

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12rem;

    & > div {
      flex: 1 1 0;
    }
  }
</style>
<BaseLayout {meta}>
  <main>
    <Header />
    <article>
      <Heading headingType="h1">
        <div slot="description">
          {t("softwareDevelopment.content.titleDescription")}
        </div>
        {t("softwareDevelopment.content.title")}
      </Heading>
      <section id="msp">
      </section>
      <section id="hook">
        <HookSection />
      </section>
    </article>
    <Footer />
  </main>
</BaseLayout>
