@use "src/scss/typography";
@use "src/scss/colors";

.lindner-fab-container {
  z-index: 15;
  position: fixed;
  bottom: 16pt;
  right: 16pt;
  display: flex;
  flex-direction: column;
  gap: 8pt;

  @media (min-width: 768px) {
    display: none;
  }
}

.lindner-fab-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
  padding: 12pt;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.24);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: white;
  background-color: colors.$primary-400;
  border-color: colors.$primary-400;
  &:hover {
    background-color: colors.$primary-500;
    border-color: colors.$primary-500;
  }
}

.lindner-fab-button--whatsapp {
  background-color: #25d366;

  &:hover {
    background-color: #128c7e;
  }
}
