@use "../../scss/colors" as colors;

.industry-card {
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  //border-image: colors.$primary-gradient;
  //background-image: colors.$primary-gradient;
  //background-origin: border-box;
  //background-clip: padding-box, border-box;
  //border-image-slice: 1;

  box-shadow: 0 0 8px 0 colors.$primary-gradient;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .industry-card__title {
    font-size: 16px;
    font-weight: 600;
    color: colors.$foreground;
    margin-bottom: 8px;
  }

  .industry-card__description {
    font-size: 14px;
    font-weight: 400;
    color: colors.$foreground;
    margin-bottom: 8px;
  }
}
