---
import BasePage from "../components/BasePage.astro";
---

<BasePage>
  <h1>404 - Seite nicht gefunden</h1>
  <p>Die angeforderte Seite konnte nicht gefunden werden.</p>
  <p>
    Sie suchen etwas spezielles? Schreiben Sie uns doch eine Mail: <a
      href="mailto:info@lindnerit.io">info@lindnerit.io</a
    >!
  </p>
</BasePage>
