---
import ContentPage from "../components/ContentPage.astro";
---

<ContentPage>
  <h1>Sitemap</h1>
  <p>
    Vielen Dank für Ihr Interesse an unser Sitemap. Diese Internetseite befindet
    sich derzeit noch im Aufbau und wir arbeiten in Hochtouren daran, Ihnen in
    Kürze ein vollständiges und informatives Projektportfolio zu präsentieren.
  </p>
  <p>
    In der Zwischenzeit können Sie sich gerne unsere <a
      href="/sitemap-index.xml">XML-Sitemap</a
    > ansehen.
  </p>
  <p>
    Wir entschuldigen uns für eventuelle Unannehmlichkeiten während dieser
    Übergangsphase.
  </p>
</ContentPage>
