---
import {
  AiFillGithub,
  AiFillInstagram,
  AiFillLinkedin,
  AiFillYoutube,
} from "solid-icons/ai";
import { useTranslations } from "../i18n/utils";

const { language } = Astro.params;
const baseUrl = `/${language ?? "en"}`;
const t = useTranslations((language ?? "en") as "en" | "de");
---

<style lang="scss">
  footer {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    width: 100%;
    margin-bottom: 0;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #a8a8a8;
  }

  .text-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8rem;
    padding: 1rem;
  }

  @media (max-width: 768px) {
    .text-part {
      flex-direction: column;
    }
  }

  .text-part {
    a {
      &:link,
      &:visited,
      &:active {
        color: rgb(85, 85, 85);
      }

      &:hover {
        color: rgb(149, 149, 149);
      }
    }
  }

  .copyright {
    text-align: center;
    font-size: 0.8rem;
  }

  .social-media {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    font-size: 1.5rem;

    a:link,
    a:hover,
    a:visited,
    a:active {
      text-decoration: none;
      color: black;
    }

    a:hover {
      color: rgb(76, 76, 76);
    }
  }
</style>
<footer>
  <div class="text-part">
    <div>
      <strong>Lindner IT UG (haftungsbeschränkt)</strong><br />
      Holzbronn 12<br />
      97999 Igersheim<br />
      Deutschland<br /><br />
      Telefon: +49 (0) 7931 5636 - 150<br />
      E-Mail: <a href="mailto:info@lindnerit.io">info@lindnerit.io</a>
    </div>
    <div>
      {
        /* 
      <a href="mailto:info@lindnerit.io">Kontakt</a><br />
      <a href="/sitemap">Sitemap</a><br />
      */
      }
    </div>
    <div>
      <a href="/legal-details">{t("nav.legal-details")}</a><br />
      <a href="/privacy-policy">{t("nav.privacy-policy")}</a><br />
    </div>
  </div>
  <div class="social-media">
    <a
      href="https://www.instagram.com/lindner.it/"
      target="_blank"
      title="Instagram"
    >
      <AiFillInstagram />
    </a>
    <a
      href="https://www.linkedin.com/company/lindner-it/"
      target="_blank"
      title="LinkedIn"
    >
      <AiFillLinkedin />
    </a>
    <a
      href="https://www.youtube.com/@lindnerit"
      target="_blank"
      title="YouTube"
    >
      <AiFillYoutube />
    </a>
    <a
      href="https://github.com/lindner-development"
      target="_blank"
      title="GitHub"
    >
      <AiFillGithub />
    </a>
  </div>
  <div class="copyright">
    <p>
      &copy; 2023 Lindner IT UG (haftungsbeschränkt). Alle Rechte vorbehalten.
    </p>
  </div>
</footer>
