$primary-color: #0093e7;
$secondary-color: #9ccc65;
$dark-grey: #333;
$light-grey: #aeaeae;

.lindner-timeline {
  width: 80%;
}

.lindner-timeline-container {
  position: relative;
  padding: 40px 0;
  margin: 0 auto;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background: linear-gradient(to bottom, $primary-color, $secondary-color);
  }
}

.lindner-timeline-item {
  position: relative;
  padding: 20px 0;

  &:not(:first-child) {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: $primary-color;
    }
  }

  &.future {
    &:before {
      background: $light-grey;
    }
  }
}

.lindner-timeline-date {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: $dark-grey;
}

.lindner-timeline-content {
  padding: 0 40px;

  h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: $primary-color;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .lindner-timeline-container {
    width: 75%;
  }

  .lindner-timeline-item {
    padding: 20px 0;

    &:not(:first-child) {
      &:before {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &.future {
      &:before {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &:nth-child(odd) {
      .lindner-timeline-date {
        left: 0;
      }

      .lindner-timeline-content {
        padding-left: 60px;
        margin-left: 50%;
      }
    }

    &:nth-child(even) {
      text-align: right;
      .lindner-timeline-date {
        right: 0;
      }

      .lindner-timeline-content {
        padding-right: 60px;
        margin-right: 50%;
      }
    }
  }
}
