---
export { getStaticPaths } from "../static-language-paths";
import {
  Breadcrumbs,
  BreadcrumbLink,
} from "../../components/Breadcrumbs/Breadcrumbs";
import { Button } from "../../components/Button/Button";
import ContentPage from "../../components/ContentPage.astro";
import {
  TechStack,
  TechStackItem,
  TechStackLayer,
} from "../../components/TechStack/TechStack";
import { Timeline, TimelineItem } from "../../components/Timeline/Timeline";
import { useTranslations } from "../../i18n/utils";
import { MetaBuilder } from "../../meta";

const { language } = Astro.params;
const t = useTranslations((language ?? "en") as "en" | "de");

const metaBuilder = new MetaBuilder();
metaBuilder.title(t("grid-computing.title"));
metaBuilder.description(t("grid-computing.description"));
metaBuilder.keywords(t("grid-computing.keywords"));
metaBuilder.revisedAt(new Date());
metaBuilder.jsonld({
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  itemListElement: [
    {
      "@type": "ListItem",
      position: 1,
      name: "Lösungen",
      item: "https://lindnerit.io/solutions",
    },
    {
      "@type": "ListItem",
      position: 2,
      name: "Grid-Computing",
      item: "https://lindnerit.io/grid-computing",
    },
  ],
});

const links: BreadcrumbLink[] = [
  {
    href: "/solutions",
    title: "Lösungen",
  },
  {
    href: "/grid-computing",
    title: "Grid-Computing",
    isCurrent: true,
  },
];
const meta = metaBuilder.create();
---

<style lang="scss">
  .hero-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 12rem);
    width: 100%;
    padding: 0 6rem;
  }

  #intro {
    display: flex;
    flex-direction: row;
    flex: 1 1;
  }

  .grid-computing-graphic {
    width: 100%;
  }

  #stack-runtime {
    background-image: linear-gradient(135deg, #0093e7 0%, #1974b4 100%);
    background-size: cover;
    color: white;
  }

  #stack-wasm,
  #stack-cpu {
    background-color: #654ff0;
    color: white;
  }

  #stack-wgpu,
  #stack-gpu {
    background-color: #005a9c;
    color: white;
  }

  .interest-button {
    margin-top: 2rem;
  }
</style>
<ContentPage {meta}>
  <Breadcrumbs links={links} />
  <section class="hero-page page" id="hero">
    <h1>{t("grid-computing.h1")}</h1>
    <p>
      {t("grid-computing.h1.subheading")}
    </p>
    <a
      title={t("grid-computing.interest-button")}
      href="mailto:info@lindnerit.io?subject=Grid-Computing interest"
    >
      <Button
        class="interest-button"
        title={t("grid-computing.interest-button")}
        variant="primary"
      >
        {t("grid-computing.interest-button")}
      </Button>
    </a>
  </section>
  <section class="page" id="intro">
    <div>
      <h2>{t("grid-computing.intro.h2")}</h2>
      <p>{t("grid-computing.intro.content")}</p>
    </div>
    <figure class="grid-computing-graphic">
      <img src="/grid-computing.svg" alt="Grid-Computing" />
    </figure>
  </section>
  <section class="page" id="architecture">
    <h2>{t("grid-computing.technology-and-architecture.h2")}</h2>
    <TechStack>
      <TechStackLayer>
        <TechStackItem id="stack-runtime">Lindner Runtime</TechStackItem>
      </TechStackLayer>
      <TechStackLayer>
        <TechStackItem id="stack-wasm">WebAssembly</TechStackItem>
        <TechStackItem id="stack-wgpu">WebGPU</TechStackItem>
      </TechStackLayer>
      <TechStackLayer>
        <TechStackItem id="stack-cpu">CPU</TechStackItem>
        <TechStackItem id="stack-gpu">GPU</TechStackItem>
      </TechStackLayer>
    </TechStack>
  </section>
  <section class="page" id="roadmap">
    <h2>{t("grid-computing.roadmap.h2")}</h2>
    <p>{t("grid-computing.roadmap.h2.subheading")}</p>
    <Timeline>
      <TimelineItem date="2024 Q2" inFuture>
        <h3>{t("grid-computing.roadmap.integration")}</h3>
        <p>{t("grid-computing.roadmap.integration.description")}</p>
      </TimelineItem>
      <TimelineItem date="2024 Q1" inFuture>
        <h3>{t("grid-computing.roadmap.market-entry")}</h3>
        <p>{t("grid-computing.roadmap.market-entry.description")}</p>
      </TimelineItem>
      <TimelineItem date="01.09.2023" inFuture>
        <h3>{t("grid-computing.roadmap.beta-version")}</h3>
        <p>{t("grid-computing.roadmap.beta-version.description")}</p>
      </TimelineItem>
      <TimelineItem date="31.06.2023" inFuture>
        <h3>{t("grid-computing.roadmap.prototype-first-version")}</h3>
        <p>{t("grid-computing.roadmap.prototype-first-version.description")}</p>
      </TimelineItem>
      <TimelineItem date="2023 Q2" inFuture>
        <h3>{t("grid-computing.roadmap.market-research")}</h3>
        <p>{t("grid-computing.roadmap.market-research.description")}</p>
      </TimelineItem>
      <TimelineItem date="01.03.2023">
        <h3>{t("grid-computing.roadmap.project-start")}</h3>
        <p>{t("grid-computing.roadmap.project-start.description")}</p>
      </TimelineItem>
    </Timeline>
  </section>
</ContentPage>
