---
export { getStaticPaths } from "../static-language-paths";

const { language } = Astro.params;
const t = useTranslations((language ?? "en") as "en" | "de");

import BasePage from "../../components/BasePage.astro";
import IndustryFocus from "../../components/IndustryFocus/IndustryFocus";
import { LandingGrid } from "../../components/LandingGrid/LandingGrid";
import { useTranslations } from "../../i18n/utils";
import { MetaBuilder } from "../../meta";

const metaBuilder = new MetaBuilder();
metaBuilder.title(t("index.title"));
metaBuilder.description(t("index.description"));
metaBuilder.keywords(t("index.keywords"));
metaBuilder.revisedAt(new Date());
metaBuilder.jsonld({
  "@context": "https://schema.org",
  "@type": "Organization",
  name: "Lindner IT",
  legalName: "Lindner IT UG (haftungsbeschränkt)",
  url: "https://lindnerit.io",
  logo: "https://lindnerit.io/brand.svg",
  sameAs: [
    "https://www.linkedin.com/company/lindner-it/",
    "https://www.instagram.com/lindner.it",
    "https://www.youtube.com/channel/UCx4mH0QbEu0ijbjh7CJoRUQ",
    "https://www.youtube.com/@lindnerit",
  ],
  address: {
    "@type": "PostalAddress",
    streetAddress: "Holzbronn 12",
    postalCode: "97999",
    addressLocality: "Igersheim",
    addressCountry: "DE",
    email: "info@lindnerit.io",
    telephone: "+49 162 3199554",
  },
  founder: {
    "@type": "Person",
    name: "Robin Lindner",
    gender: "male",
    givenName: "Robin Dominik",
    familyName: "Lindner",
    birthDate: new Date("2004-04-02").toISOString(),
  },
});
metaBuilder.jsonld({
  "@context": "https://schema.org",
  "@type": "WebSite",
  url: "https://lindnerit.io",
});

const meta = metaBuilder.create();
---

<style lang="scss">
  @use "../../scss/colors" as colors;
  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  .hero-page {
    padding: 0 2rem;
  }
  .background {
    background: #d9d9d9;
    clip-path: polygon(56% 38%, 43% 100%, 0 100%, 0 0);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    z-index: -1;
  }

  .industry-focus-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
</style>
<BasePage meta={meta}>
  <div class="background"></div>
  <div class="hero-page">
    <h1>{t("index.welcome")}</h1>
    <p>{t("index.subwelcome")}</p>
    <br />
    <LandingGrid language={language ?? "en"} />
  </div>
  <!--<section id="industry-focus" class="page">
    <h3>branchenübergreifende Entwicklung</h3>
    <IndustryFocus />
  </section>-->
</BasePage>
