:root {
  // primary
  --color-primary-500: #0093e7;
  --color-primary-600: #1974b4;
  --color-primary-700: #1e5684;
  --color-primary-800: #1b3a56;
  --color-primary-900: #14202d;
  --gradient-primary: linear-gradient(
    90deg,
    rgba(0, 147, 231, 1) 0%,
    rgba(30, 86, 132, 1) 35%,
    rgba(156, 204, 101, 1) 100%
  );
  --radial-gradient-primary: radial-gradient(
      at 40% 20%,
      hsla(201, 100%, 45%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(204, 75%, 40%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(87, 50%, 59%, 1) 0px, transparent 50%) 1;

  // secondary
  --color-secondary-500: #9ccc65;
  --color-secondary-600: #7b9f51;
  --color-secondary-700: #5b753e;
  --color-secondary-800: #3e4d2b;
  --color-secondary-900: #222919;

  --color-foreground: #000000;
  --color-background: #ffffff;
  --color-background-accent: color-mix(
    in srgb,
    var(--color-background) 80%,
    var(--color-foreground)
  );
}

:root[data-theme="dark"] {
  --color-foreground: #ffffff;
  --color-background: #0f1342;
  --color-background-accent: color-mix(
    in srgb,
    var(--color-background) 80%,
    var(--color-foreground)
  );
}

$primary-500: var(--color-primary-500);
$primary-600: var(--color-primary-600);
$primary-700: var(--color-primary-700);
$primary-800: var(--color-primary-800);
$primary-900: var(--color-primary-900);
$primary-gradient: linear-gradient(
  90deg,
  rgba(0, 147, 231, 1) 0%,
  rgba(30, 86, 132, 1) 35%,
  rgba(156, 204, 101, 1) 100%
);
$primary-radial-gradient: radial-gradient(
    at 40% 20%,
    hsla(201, 100%, 45%, 1) 0px,
    transparent 50%
  ),
  radial-gradient(at 80% 0%, hsla(204, 75%, 40%, 1) 0px, transparent 50%),
  radial-gradient(at 0% 100%, hsla(87, 50%, 59%, 1) 0px, transparent 50%);

$secondary-500: var(--color-secondary-500);
$secondary-600: var(--color-secondary-600);
$secondary-700: var(--color-secondary-700);
$secondary-800: var(--color-secondary-800);
$secondary-900: var(--color-secondary-900);

$foreground: var(--color-foreground);
$background: var(--color-background);
$background-accent: var(--color-background-accent);
