$font-family: "Mitr";
$font-size-xs: 11px;

$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;

$font-size-medium: 20px;
$font-size-big: 48px;
$font-size-heading: 52px;
$font-size-subheading: 32px;
