@use "colors" as colors;

.lindner-button {
  &--primary {
    background-color: colors.$primary;
    color: #fff;
  }
  &--secondary {
    background-color: colors.$secondary;
    color: #fff;
  }

  border-radius: 6px;
}
