@use "colors" as colors;

header {
  height: 90px;
  margin: 8px 24px;
  margin-bottom: 1.6rem;

  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .branding {
    display: flex;
    flex: 1;
    font-size: 48pt;
    font-weight: 900;
    cursor: pointer;

    img {
      height: 100%;
      width: auto;
    }
  }
}

.header-button-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.header-button {
  padding: 6px;
  font-size: 24pt;
  border-radius: 2px;
  border-style: none;

  &--login {
    background-color: colors.$primary-500;
    color: #fff;
  }

  &--signup {
    background-color: colors.$primary-500;
    color: #fff;
  }
}
