.lindner-user-bar {
  width: 100%;
  display: flex;
  justify-content: right;

  &--login-register {
    font-variant: small-caps;
    margin-right: 12px;
    font-size: 16pt;

    &--separator {
      margin: 0 10px;
    }

    a {
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
