---
import {
  Breadcrumbs,
  BreadcrumbLink,
} from "../../components/Breadcrumbs/Breadcrumbs";
import ContentPage from "../../components/ContentPage.astro";
import { MetaBuilder } from "../../meta";

const metaBuilder = new MetaBuilder();
metaBuilder.title("Lindner IT - Desktop-Entwicklung");
metaBuilder.description(
  "Lindner IT entwickelt individuelle Desktop-Anwendungen für Ihr Unternehmen. Von der Konzeption bis zur Wartung bieten wir eine maßgeschneiderte Lösung für Ihre speziellen Anforderungen. Kontaktieren Sie uns für ein unverbindliches Angebot!"
);
metaBuilder.keywords([
  "Desktop-Entwicklung",
  "individuelle Desktop-Anwendungen",
  "Desktop-Anwendungen nach Maß",
  "Desktop-Anwendungen für Windows",
  "Desktop-Anwendungen für macOS",
  "Desktop-Anwendungen für Linux",
  "Desktop-Anwendungen für Geschäftskunden",
  "Desktop-Anwendungen für Unternehmen",
  "Desktop-Anwendungen für spezielle Anwendungsfälle",
  "Legacy-Systeme",
  "Desktop-Entwickler",
  "Desktop-Anwendungsentwicklung",
  "Lindner IT",
]);
metaBuilder.revisedAt(new Date());
metaBuilder.jsonld({
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  itemListElement: [
    {
      "@type": "ListItem",
      position: 1,
      name: "Lösungen",
      item: "https://lindnerit.io/solutions",
    },
    {
      "@type": "ListItem",
      position: 2,
      name: "Individuelle Entwicklungen",
      item: "https://lindnerit.io/solutions",
    },
    {
      "@type": "ListItem",
      position: 2,
      name: "Desktop-Entwicklung",
      item: "https://lindnerit.io/solutions/desktop-development",
    },
  ],
});
const links: BreadcrumbLink[] = [
  {
    href: "/solutions",
    title: "Lösungen",
  },
  {
    href: "/solutions",
    title: "Individuelle Entwicklungen",
  },
  {
    href: "/solutions/desktop-development",
    title: "Desktop-Entwicklung",
    isCurrent: true,
  },
];

const meta = metaBuilder.create();
---

<ContentPage {meta}>
  <Breadcrumbs links={links} />
  <h1>Desktop-Entwicklung</h1>
  <p>
    Wir bei Lindner IT sind spezialisiert auf die Entwicklung von individuellen,
    hochwertigen Desktop-Anwendungen, die den Anforderungen unserer Kunden
    entsprechen. Unsere Entwicklerinnen und Entwickler haben umfangreiche
    Erfahrung in der Erstellung von Desktop-Anwendungen für Windows, macOS und
    Linux.
  </p>
  <br /><p>
    Wir setzen modernste Technologien und Frameworks ein, um leistungsstarke und
    benutzerfreundliche Anwendungen zu entwickeln. Dabei legen wir großen Wert
    auf die Benutzererfahrung und gestalten die Oberfläche so intuitiv und
    einfach wie möglich.
  </p>
  <br /><p>
    Unser Angebot umfasst die Entwicklung von individuellen Desktop-Anwendungen
    für eine Vielzahl von Anwendungsfällen, wie z.B. Verwaltung von Kundendaten,
    Personalabrechnung, Buchhaltung, Projektmanagement und vieles mehr.
  </p>
  <br /><p>
    Wir bieten Ihnen eine umfassende Beratung und Entwicklungsdienstleistungen
    für Ihre Desktop-Anwendungen. Von der Konzeption und Planung über die
    Entwicklung bis hin zur Wartung und Support stehen wir Ihnen mit unserem
    Know-how zur Seite.
  </p>
  <br /><p>
    Wir bei Lindner IT arbeiten eng mit unseren Kunden zusammen, um ihre
    Bedürfnisse und Anforderungen zu verstehen und eine maßgeschneiderte Lösung
    zu entwickeln, die genau auf ihre Geschäftsanforderungen abgestimmt ist.
  </p>
  <br /><p>
    Kontaktieren Sie uns gerne für weitere Informationen und ein unverbindliches
    Angebot. Wir freuen uns darauf, mit Ihnen zusammenzuarbeiten und Ihnen dabei
    zu helfen, die richtige Desktop-Anwendung für Ihr Unternehmen zu entwickeln.
  </p>
</ContentPage>
