---
import ContentPage from "../../components/ContentPage.astro";
---

<ContentPage>
  <h1>Integration von Schnittstellen</h1>

  <p>
    Als erfahrener Softwareentwicklungsdienstleister, bieten wir Ihnen die
    Möglichkeit diverste Schnittstellen in Ihren bestehenden Quellcode zu
    integrieren.
  </p>
  <p>
    Ob Web-Schnittstellen nach dem REST, SOAP oder gRPC Schema oder
    Socket-Implementierungen anhand Protokollbeschreibungen über UDP bis TCP.
  </p>
</ContentPage>
