---
import {
  Breadcrumbs,
  BreadcrumbLink,
} from "../../components/Breadcrumbs/Breadcrumbs";
import ContentPage from "../../components/ContentPage.astro";
import { MetaBuilder } from "../../meta";

const metaBuilder = new MetaBuilder();
metaBuilder.title("Lindner IT - Website-Entwicklung");
metaBuilder.description(
  "Lindner IT bietet Unternehmen drei Optionen für die Website-Entwicklung: Content-Management-System, statische Internetseite und dynamische Internetseite mit Datenbankanbindung und REST-API Anbindung. Erfahren Sie mehr über die Vor- und Nachteile jeder Option und lassen Sie sich von uns bei der Entscheidung für die richtige Art der Internetseite unterstützen."
);
metaBuilder.keywords([
  "Website-Entwicklung",
  "Content-Management-System",
  "CMS",
  "statische Internetseite",
  "dynamische Internetseite",
  "Datenbankanbindung",
  "REST-API",
  "Lindner IT",
  "individuelle Beratung",
  "Webentwicklung",
  "Frontend",
  "Backend",
  "E-Commerce",
  "Online-Plattform",
  "Webseite",
  "Online-Präsenz",
  "Suchmaschinenoptimierung",
  "Enterprise-Content-Management-System",
  "Wordpress",
  "Magento",
  "Joomla",
  "Shopify",
  "Drupal",
]);
metaBuilder.revisedAt(new Date());
metaBuilder.jsonld({
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  itemListElement: [
    {
      "@type": "ListItem",
      position: 1,
      name: "Lösungen",
      item: "https://lindnerit.io/solutions",
    },
    {
      "@type": "ListItem",
      position: 2,
      name: "Branchenübergreifende Entwicklungen",
      item: "https://lindnerit.io/solutions",
    },
    {
      "@type": "ListItem",
      position: 2,
      name: "Lindner Version Manager",
      item: "https://lindnerit.io/solutions/website-development",
    },
  ],
});

const links: BreadcrumbLink[] = [
  {
    href: "/solutions",
    title: "Lösungen",
  },
  {
    href: "/solutions",
    title: "Branchenübergreifende Entwicklungen",
  },
  {
    href: "/solutions/version-manager",
    title: "Lindner Version Manager",
    isCurrent: true,
  },
];

const meta = metaBuilder.create();
---

<style lang="scss">
  section {
    margin-bottom: 3rem;
  }

  /* Formularstil */
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label,
    input,
    button {
      margin-bottom: 1rem;
    }

    button {
      background-color: #333;
      color: #fff;
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }

    button:hover {
      background-color: #555;
    }
  }
</style>
<ContentPage {meta}>
  <Breadcrumbs links={links} />
  <section>
    <h1>
      Version Manager&trade;: Ihre Lösung für effizientes Software-Deployment
    </h1>
    <p>
      Entdecken Sie den Version Manager, eine leistungsstarke und skalierbare
      Lösung, die das Software-Deployment und das Versionsmanagement
      revolutioniert.
    </p>
  </section>

  <section>
    <h2>Hauptmerkmale</h2>
    <h3>Intuitive Benutzeroberfläche</h3>
    <p>
      Einfache Handhabung und schneller Zugriff auf alle wichtigen Funktionen.
    </p>

    <h3>Skalierbare Microservices-Architektur</h3>
    <p>Optimiert für Performance, Verfügbarkeit und einfache Erweiterung.</p>

    <h3>Mandantenfähigkeit und Sicherheit</h3>
    <p>
      Integration von Azure AD und OAuth2 für sichere und mandantenfähige
      Zugriffsverwaltung.
    </p>

    <h3>Unterstützung für verschiedene Release-Kanäle</h3>
    <p>Flexibles Management von Canary, Beta und Production-Versionen.</p>
  </section>

  <section>
    <h2>Warteliste</h2>
    <p>
      Interessiert am Version Manager? Melden Sie sich jetzt für unsere
      Warteliste an und erhalten Sie exklusive Updates und frühen Zugang zu
      neuen Funktionen!
    </p>
    <form action="/warteliste" method="post">
      <label for="email">E-Mail-Adresse:</label>
      <input type="email" id="email" name="email" required />
      <button type="submit">Zur Warteliste hinzufügen</button>
    </form>
  </section>
</ContentPage>
