---
import {
  Breadcrumbs,
  BreadcrumbLink,
} from "../../components/Breadcrumbs/Breadcrumbs";
import ContentPage from "../../components/ContentPage.astro";
import {
  AiFillCheckCircle,
  AiOutlineCheckCircle,
  AiFillCloseCircle,
  AiFillStar,
  AiOutlineStar,
} from "solid-icons/ai";

import { MetaBuilder } from "../../meta";
import { Plan } from "../../components/Plan/Plan";

const metaBuilder = new MetaBuilder();
metaBuilder.title("Lindner IT - Website-Entwicklung");
metaBuilder.description(
  "Lindner IT bietet Unternehmen drei Optionen für die Website-Entwicklung: Content-Management-System, statische Internetseite und dynamische Internetseite mit Datenbankanbindung und REST-API Anbindung. Erfahren Sie mehr über die Vor- und Nachteile jeder Option und lassen Sie sich von uns bei der Entscheidung für die richtige Art der Internetseite unterstützen."
);
metaBuilder.keywords([
  "Website-Entwicklung",
  "Content-Management-System",
  "CMS",
  "statische Internetseite",
  "dynamische Internetseite",
  "Datenbankanbindung",
  "REST-API",
  "Lindner IT",
  "individuelle Beratung",
  "Webentwicklung",
  "Frontend",
  "Backend",
  "E-Commerce",
  "Online-Plattform",
  "Webseite",
  "Online-Präsenz",
  "Suchmaschinenoptimierung",
  "Enterprise-Content-Management-System",
  "Wordpress",
  "Magento",
  "Joomla",
  "Shopify",
  "Drupal",
]);
metaBuilder.revisedAt(new Date());
metaBuilder.jsonld({
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  itemListElement: [
    {
      "@type": "ListItem",
      position: 1,
      name: "Lösungen",
      item: "https://lindnerit.io/solutions",
    },
    {
      "@type": "ListItem",
      position: 2,
      name: "Individuelle Entwicklungen",
      item: "https://lindnerit.io/solutions",
    },
    {
      "@type": "ListItem",
      position: 2,
      name: "Website-Entwicklung",
      item: "https://lindnerit.io/solutions/website-development",
    },
  ],
});

const links: BreadcrumbLink[] = [
  {
    href: "/solutions",
    title: "Lösungen",
  },
  {
    href: "/solutions",
    title: "Individuelle Entwicklungen",
  },
  {
    href: "/solutions/website-development",
    title: "Website-Entwicklung",
    isCurrent: true,
  },
];

const meta = metaBuilder.create();
---

<style lang="scss">
  .comparison-table {
    border-collapse: collapse;
    border-radius: 16px;
    border-color: black;

    th,
    td {
      padding: 12pt;
      border-width: 1px;
      border-style: solid;
      border-color: gray;
      border-radius: 16px;
    }
  }

  .comparison-yes {
    color: green;
    //font-size: 24pt;
    text-align: left;
  }
  .comparison-under-circumstances {
    color: green;
    //font-size: 24pt;
    text-align: left;
  }
  .comparison-no {
    color: red;
    //font-size: 24pt;
    text-align: left;
  }
  .comparison-rating {
    color: rgb(255, 200, 0);
    //font-size: 24pt;
    text-align: center;
  }
  .comparison-description {
    font-size: 12pt;
    color: black;
  }

  .plans {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }

  @media (max-width: 768px) {
    .plans {
      flex-direction: column;
    }
  }
</style>
<ContentPage {meta}>
  <Breadcrumbs links={links} />
  <h1>Website-Entwicklung</h1>

  <p>
    Die Entscheidung für die richtige Art der Internetseite ist für Unternehmen
    von großer Bedeutung. Lindner IT bietet drei Optionen an: ein
    Content-Management-System (CMS), eine statische Internetseite oder eine
    dynamische Internetseite mit Datenbankanbindung und REST-API Anbindung.
  </p>
  <br />
  <h2>Content-Management-System (CMS)</h2>
  <p>
    Ein CMS, wie beispielsweise Wordpress, bietet eine hohe
    Wartungsfreundlichkeit und eine einfache Bedienung. Es ist leicht zu
    erlernen und erfordert kein tiefgreifendes Verständnis von Webtechnologien.
    Es ist daher eine ideale Lösung für kleine Unternehmen, die eine Website mit
    grundlegenden Funktionen benötigen und keine speziellen Anforderungen haben.
    Ein CMS bietet zudem eine breite Palette an Erweiterungen und Plugins, um
    zusätzliche Funktionen hinzuzufügen, wie zum Beispiel Kontaktformulare oder
    E-Commerce-Tools.
  </p>
  <br />
  <h2>Statische Internetpräsenz</h2>
  <p>
    Eine statische Internetseite ist schnell und kostengünstig zu erstellen und
    zu warten. Sie eignet sich ideal für Unternehmen, die eine Online-Präsenz
    benötigen, aber keine komplexe Funktionalität benötigen. Eine statische
    Internetseite ist in der Regel einfacher zu optimieren für Suchmaschinen und
    bietet schnelle Ladezeiten für die Besucher der Webseite. Auch für
    Unternehmen, die hauptsächlich offline tätig sind und ihre Webseite nur als
    Informationsquelle nutzen möchten, ist eine statische Internetseite eine
    gute Wahl.
  </p>
  <br />
  <h2>Dynamische Internetseite / Web App</h2>
  <p>
    Eine dynamische Internetseite besteht in der Regel aus zwei Komponenten, dem
    Frontend und dem Backend. Das Backend ermöglicht die Kommunikation mit
    Datenbanken oder Schnittstellen und bietet somit eine ideale Lösung für
    Unternehmen, die eine komplexe Funktionalität benötigen, wie beispielsweise
    personalisierte Inhalte, Datenbankabfragen oder die Integration von
    Drittanbieter-Tools. Allerdings erfordert die Entwicklung und Wartung einer
    dynamischen Internetseite die Expertise von Backend-Entwicklern, was die
    Kosten im Vergleich zu anderen Optionen erhöht. Eine dynamische
    Internetseite eignet sich besonders für Unternehmen, die eine
    Online-Plattform anbieten, wie E-Commerce-Shops oder soziale Netzwerke.
  </p>
  <br />
  <h2>Unser Angebot für Sie</h2>
  {
    /* 
  <table class="comparison-table">
    <tr>
      <th><strong>Feature</strong></th>
      <th>Content-Management-System (CMS)</th>
      <th>statische Internetseite</th>
      <th>dynamische Internetseite / Web App</th>
    </tr>
    <tr>
      <td>Änderungen</td>
      <td class="comparison-yes">
        <AiFillCheckCircle /><br />
        <div class="comparison-description">
          Änderungen sind mit komfortablen Editor möglich.
        </div>
      </td>
      <td class="comparison-under-circumstances">
        <AiOutlineCheckCircle />
        <div class="comparison-description">
          Änderungen sind nur mit Programmierkenntnissen möglich.
        </div>
      </td>
      <td class="comparison-under-circumstances">
        <AiOutlineCheckCircle />
        <div class="comparison-description">
          Grundlegende Editierfunktionalität kann bei Bedarf seitens unserer
          Entwickler nachgerüstet werden.
          <br />Einige Änderungen sind mit Programmierkenntnissen möglich.
        </div>
      </td>
    </tr>
    <tr>
      <td>Benutzer- und Berechtigungsverwaltung</td>
      <td class="comparison-yes"><AiFillCheckCircle /></td>
      <td class="comparison-under-no"><AiFillCloseCircle /></td>
      <td class="comparison-under-circumstances"><AiOutlineCheckCircle /></td>
    </tr>
    <tr>
      <td>Dynamische Inhalte möglich</td>
      <td class="comparison-yes"><AiFillCheckCircle /></td>
      <td class="comparison-under-no"><AiFillCloseCircle /></td>
      <td class="comparison-yes"><AiFillCheckCircle /></td>
    </tr>
    <tr>
      <td>Skalierbarkeit</td>
      <td class="comparison-rating"
        ><AiFillStar /><AiFillStar /><AiOutlineStar /><AiOutlineStar
        /><AiOutlineStar /></td
      >
      <td class="comparison-rating"
        ><AiFillStar /><AiFillStar /><AiFillStar /><AiFillStar /><AiFillStar
        /></td
      >
      <td class="comparison-rating"
        ><AiFillStar /><AiFillStar /><AiOutlineStar /><AiOutlineStar
        /><AiOutlineStar /></td
      >
    </tr>
    <tr>
      <td>Performance</td>
      <td class="comparison-rating"
        ><AiFillStar /><AiFillStar /><AiFillStar /><AiOutlineStar
        /><AiOutlineStar /></td
      >
      <td class="comparison-rating"
        ><AiFillStar /><AiFillStar /><AiFillStar /><AiFillStar /><AiFillStar
        /></td
      >
      <td class="comparison-rating"
        ><AiFillStar /><AiFillStar /><AiFillStar /><AiFillStar /><AiOutlineStar
        /></td
      >
    </tr>
    <tr>
      <td>Erweiterbarkeit</td>
      <td class="comparison-yes"><AiFillCheckCircle /></td>
      <td class="comparison-under-circumstances"><AiFillCloseCircle /></td>
      <td class="comparison-under-no"><AiFillCloseCircle /></td>
    </tr>
    <tr>
      <td>Kosten für ein Design</td>
      <td>&lt; 499,99 € - 799,99 €</td>
      <td>749,99 € - 1999,99 €</td>
      <td>&gt; 1499,99 €</td>
    </tr>
    <tr>
      <td>Kosten für den laufenden Betrieb</td>
      <td>~ 14,99 € / Monat</td>
      <td>~ 9,99 € / Monat</td>
      <td>&gt; 49,99 € / Monat</td>
    </tr>
  </table>
*/
  }
  <div class="comparison-yes">
    <AiFillCheckCircle />&nbsp;inklusive
  </div>
  <div class="comparison-under-circumstances">
    <AiOutlineCheckCircle />&nbsp;dazubuchbare Option
  </div>
  <div class="comparison-no">
    <AiFillCloseCircle />&nbsp;nicht möglich
  </div>
  <div class="plans">
    <Plan title="Basic" subtitle="CMS">
      <div>Nutzung eines Content-Management-Systems</div>
      <div class="comparison-yes">
        <AiFillCheckCircle />&nbsp;komfortabler Editor
      </div>
      <div class="comparison-yes">
        <AiFillCheckCircle />&nbsp;Berechtigungsverwaltung
      </div>
      <div class="comparison-yes">
        <AiFillCheckCircle />&nbsp;Erweiterbarkeit durch Plugins
      </div>
      <div class="comparison-under-circumstances">
        <AiOutlineCheckCircle />&nbsp;Hosting in unserer Cloud
      </div>
      <div class="comparison-under-circumstances">
        <AiOutlineCheckCircle />&nbsp;+ Service-Level-Agreement&nbsp;
        <small>(98,49% Uptime)</small>
      </div>
      <hr />
      <div><strong>Kosten für ein Design</strong></div>
      <div>~ 399,99 € - 699,99 €</div>
      <div><strong>Kosten für den laufenden Betrieb</strong></div>
      <div>~ 14,99 € / Monat</div>
    </Plan>
    <Plan title="Enterprise" subtitle="Premium Web-App" recommended={true}>
      <div>
        Eine komplette Architektur um Ihren Kunden den besten Inhalt
        präsentieren zu können
      </div>
      <div class="comparison-yes">
        <AiOutlineCheckCircle />&nbsp;komfortabler Editor
      </div>
      <div class="comparison-under-circumstances">
        <AiOutlineCheckCircle />&nbsp;Berechtigungsverwaltung
      </div>
      <div class="comparison-no">
        <AiFillCloseCircle />&nbsp;Erweiterbarkeit durch Plugins
      </div>
      <div class="comparison-under-circumstances">
        <AiOutlineCheckCircle />&nbsp;Hosting in unserer Cloud
      </div>
      <div class="comparison-under-circumstances">
        <AiOutlineCheckCircle />&nbsp;+ Service-Level-Agreement&nbsp;
        <small>(98,49% Uptime)</small>
      </div>
      <hr />
      <div><strong>Kosten für ein Design</strong></div>
      <div>~ 499,99 € - 1599,99 €</div>
      <div><strong>Kosten für die Backend-Entwicklung</strong></div>
      <div>~ 499,99 € - 1399,99 €</div>
      <div><strong>Kosten für den laufenden Betrieb</strong></div>
      <div>&gt; 49,99 € / Monat</div>
    </Plan>
    <Plan title="Standard" subtitle="statische Internetseite">
      <div>statisch entwickelte Internetseite</div>
      <div class="comparison-no">
        <AiFillCloseCircle />&nbsp;komfortabler Editor
      </div>
      <div class="comparison-no">
        <AiFillCloseCircle />&nbsp;Berechtigungsverwaltung
      </div>
      <div class="comparison-no">
        <AiFillCloseCircle />&nbsp;Erweiterbarkeit durch Plugins
      </div>
      <div class="comparison-under-circumstances">
        <AiOutlineCheckCircle />&nbsp;Hosting in unserer Cloud
      </div>
      <div class="comparison-under-circumstances">
        <AiOutlineCheckCircle />&nbsp;+ Service-Level-Agreement&nbsp;
        <small>(98,49% Uptime)</small>
      </div>
      <hr />
      <div><strong>Kosten für ein Design</strong></div>
      <div>~ 599,99 € - 1699,99 €</div>
      <div><strong>Kosten für den laufenden Betrieb</strong></div>
      <div>~ 9,99 € / Monat</div>
    </Plan>
  </div>
  <br />
  <br />
  <p>
    Die Entscheidung für die richtige Art der Internetseite hängt von den
    spezifischen Anforderungen des Unternehmens ab. Lindner IT bietet alle drei
    Optionen an und kann bei der Entscheidungsfindung helfen. Kontaktieren Sie
    uns gerne für eine individuelle Beratung.
  </p>
</ContentPage>
